.darkLayout {
  background: #130fff;
  color: white;
}

.lightLayout {
  background: white;
  color: var(--navy-blue);
}

.dashboardLayout {
  background: linear-gradient(180deg, #e6e5ff 0%, #d2d1ff 100%);
  color: var(--navy-blue);
}

.landingLayout {
  height: 100dvh;
  background-image: url('background.svg');
  background-size: 2000px 2000px;
  background-position: center center;
  background-repeat: no-repeat;
  color: var(--navy-blue);
}

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding-top: 2.8125rem;
  padding-bottom: 1.5625rem;
  background: transparent;
  transition: 100ms background-color;

  a {
    color: currentColor;
  }
}

.subHeader {
  margin: 1.125rem 0 0.5625rem;
  text-align: center;
  padding: 1.875rem 0;
}

@media screen and (max-width: 1000px) {
  .lightLayout {
    background: #e6e5ff;
  }

  .inViewPlaceholder {
    position: absolute;
    height: 1px;
  }

  .header {
    z-index: 1000;
    position: sticky;
    top: 0;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
  }

  .headerSticky {
    background: #e6e5ff;
    border-bottom: none;
  }

  .darkLayout {
    .headerSticky {
      background: #130fff;
    }
    background: white;
    color: var(--navy-blue);
  }

  .subHeader {
    text-align: left;
    padding: 0;
    margin: 0.875rem 0;
  }
}
