.landing {
  > div {
    padding: 0;
    max-width: 416px;
    color: black;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #01001f;
  }
}

@media screen and (max-width: 1000px) {
  .landing {
    width: unset;
    left: unset;
    padding: 1rem;
  }
}
