.dashboardMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.dashboardMyColumn {
  flex-grow: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /*border: 1px solid red;*/
}

.dashboardOtherColumn {
  flex-grow: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /*border: 1px solid red;*/
}

.dashboardLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.createButton {
  display: flex;
  align-items: center;
  height: 48px;
}

.search,
.openCompletePolls,
.showInaccessible {
  width: 300px;
}

.noPolls {
  display: flex;
  background: var(--dashboard-card-color);
  flex-direction: column;
  border: 1px solid #01001f;
  border-radius: 12px;
  padding: 24px;
  min-height: 600px;
  align-items: center;
  gap: 16px;
  justify-content: center;

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
    color: #414749;
  }
}

.waitingIndicators {
  width: 100%;
  max-width: 100%;
}

.mobileDashboardCard {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}

.mobileDashboardTop {
  padding: 0 16px;
}

.tabRoot {
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabList {
  background: #e6e5ff;
  position: sticky;
  top: 72px;
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid gray;
}

.tabTrigger {
  background: transparent;
  font-family: inherit;
  height: 48px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  color: #222222;
  user-select: none;
  border: none;
  }

.tabTrigger[data-state="active"] {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid currentColor;
}

.tabContent {
  flex-grow: 1;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1000px) {
  .createButton {
    display: unset;
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 150px;
  }
}
